.git
.gitignore
target/
!.mvn/wrapper
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
HELP.md
.mvn
mvnw
mvnw.cmd
*.iml
.idea
*.md
Dockerfile*
**/node_modules/
**/.env
**/.env.*
**/.git
**/.gitignore
**/.vscode
**/coverage
**/.gradle
**/build
**/*.log
**/.dockerignore
